# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Exclude the Bck folder
Bck/

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Yarn integrity file
.yarn-integrity

# Temporary files
tmp/
temp/

# IDE or editor specific files
.idea/
.vscode/
.DS_Store

# Coverage directory used by tools like istanbul
coverage/

# Miscellaneous files
*.tgz
*.lock
*.zip
*.tar
*.tar.gz
